/* Global */
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.undisplayed {
    opacity:0;
}

.displayed {
    opacity:1;
}

/* Section */
section {
    margin-bottom: 70px;
    position: relative;
}

section::before, section::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.section-title {
    text-align: center;
    margin-bottom: 70px;
    font-weight: bold;
}

.section-title {
    padding: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


/* Header */
#header {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
}

#main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.jumbotron {
    background: rgba(0, 0, 0, 0.60);
    margin-top: 70px;
    margin-bottom: 70px;
    color: #fafafa;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
}

.jumbotron a {
    color: #aba9a9;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
}

.jumbotron a:hover {
    color: #dddbdb;
}

.jumbotron img.logo {
    height: 100px;
    width: 100px;
    padding: 2px;
}

/* Separator */
.separator {
    background: rgba(0, 0, 0, 0.60);
    width: 100%;
    height: 420px;
    margin-bottom: 70px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* About */
#about .container {
    background: url("img/rocket.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}

#about h2, #about h3 {
    margin-top: 0;
}

#about-right {
    margin-bottom: 60px;
    padding-right: 35px;
    border-right: 3px solid #aba9a9;
}

#about-left {
    padding-left: 35px;
    border-left: 3px solid #aba9a9;
}

/* Contact */
#contact-form {
    background: url("img/map.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

#contact-form .form-control {
    opacity: 0.8;
}

/* Footer */
#footer {
    margin-top: 140px;
    margin-bottom: 0;
    padding: 100px 0 20px 0;
    border-top: 1px solid #d9d9d9;
    background: rgba(255, 255, 255, 0.85);
}

#footer::before {
    left: 50%;
    width: 100px;
    height: 100px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    top: -50px;
    background: #ffffff;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

#footer .networks a.btn-link.facebook {
    color: #3b5998;
}

#footer .networks a.btn-link.github {
    color: #333333;
}

#footer .networks a.btn-link.google {
    color: #d34836;
}

#footer .networks a.btn-link.twitter {
    color: #55acee;
}

#footer .external-links a {
    color: #444444;
}

#footer .networks a.btn-link.facebook:hover {
    color: #4774bf;
}

#footer .networks a.btn-link.github:hover {
    color: #5b5b5b;
}

#footer .networks a.btn-link.google:hover {
    color: #fb5240;
}

#footer .networks a.btn-link.twitter:hover {
    color: #5287c6;
}

#footer .external-links a:hover {
    color: #6c6c6c;
}

/* Articles */
#articles article.base-article {
    margin-top: 40px;
    padding: 60px 0 20px 0;
    border-top: 1px solid #ddd;
}

#articles article .about {
    text-transform: uppercase;
    color: #aba9a9;
}

#articles article .about img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    padding: 2px;
}

#articles article .about img, #article #article-author img {
    -webkit-transition: ease .5s;
    -o-transition:  ease .5s;
    transition:  ease .5s;
}

#articles article .about img:hover, #article #article-author img:hover {
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

#articles article:nth-child(odd).base-article {
    text-align: right;
}

#articles article h2 {
    font-weight: bold;
}

#articles article.base-article h2 {
    margin: 10px 0 10px 0;
}

#articles article h2 a {
    color: inherit;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
}

#articles article h2 a:hover {
    color: #4ebaba;
}

/* Article */
#article-author {
    padding: 0 0 32px 35px;
}

#article-author img {
    width: 150px;
    margin-bottom: 10px;
}

#article-author p {
    margin-bottom: 0;
}

#article-content {
    text-align: justify;
}

#comments .media {
    margin-top: 35px;
}
